/* Tablet and Computer */
@media all and (min-width: 768px) {
	/* Button */
	.button {
		/* Borders */
		border-radius:10px;
		-moz-border-radius:10px; 
		-webkit-border-radius:10px;
		-ms-border-radius:10px; 
		-o-border-radius:10px;
	}

	/* Mega Button */								  
	.mega.button {
		font-size: 4em;
		padding: 20px 0 20px 0;
	}
		
	/* Halfsize Button */						
	.size-2.button {
		width:43.3%;
		left:2.5%; 
		margin-left:3%;
		margin-bottom:25px;
		margin-top:25px;
	}
	
	/* Fullsize Button */
	.size-1.button {
		width:90%;
		left:2.5%; 
		margin-left:3%;
		margin-bottom:25px;
		margin-top:25px;	
	}

	/* Textfield */
	.textfield {
		min-height:65px;
	}
}
/* ------------------------------------------------- */
/* Phones */
@media all and (max-width: 767px) {
	/* Button */
	.button {
		/* Borders */
		border-radius:5px;
		-moz-border-radius:5px; 
		-webkit-border-radius:5px;
		-ms-border-radius:5px; 
		-o-border-radius:5px;
	}
	/* Mega Button */								  
	.mega.button {
		font-size: 1.6em;
		padding: 10px 0 10px 0;
	}
	/* Mobile Button */						
	.size-2.button {
		width:45%;
		left:2%; 
		margin-left:2%;
		margin-bottom:8px;
		margin-top:8px;
	}
	
	/* Fullsize Button */
	.size-1.button {
		width:92.4%;
		left:2%; 
		margin-left:2%;
		margin-bottom:8px;
		margin-top:8px;	
	}

	/* Textfield */
	.textfield {
		min-height:30px;
	}
}
/* ------------------------------------------------- */
/* General */

.button.high-res {
	/* Background */
	background: #222 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAQAAAA38nkBAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACFJREFUCNdj+O/AxPAfjBhgDDj6h8EmSP4jWjGmFQhnAAAvpzBjYnpesAAAAABJRU5ErkJggg%3D%3D) repeat-x;

	/* Text */
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);

	/* Shadow */
	box-shadow:0 1px 3px rgba(0,0,0,0.6);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.6);
	-ms-box-shadow:0 1px 3px rgba(0,0,0,0.6);
	-o-box-shadow:0 1px 3px rgba(0,0,0,0.6);
}

/* Button */
.button {
	/* Background */	
	/* General */
	display: inline-block; 
	position: relative;
	cursor: pointer;
	
	/* Text */
	color: #fff; 
	font-family: Arial, Helvetica, sans-serif;	
	font-weight: bold; 
	line-height: 1; 
	text-decoration: none;
	
	/* User Select */
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	
	/* Webkit Mobile Select Color */
	-webkit-tap-highlight-color: rgba(0,0,255,0.1);

	/* Center text */
	text-align:center;

	/* CSS3 Hyphens */
	-moz-hyphens:auto;
	-webkit-hyphens:auto;
	-o-hyphens:auto;
	hyphens:auto;

	/* Borders */
	border-bottom: 1px solid rgba(0,0,0,0.25);
}

/* Button Active */		
/*
.button:active {
	top:1px;
}
*/

/* Colors & Glow */

/* Pink */
.color-pink.button{
	background-color: #e22092;
}
.glow.color-pink.button {
	box-shadow: 0px 0px 30px #e22092;
	-moz-box-shadow: 0px 0px 30px #e22092;
	-webkit-box-shadow: 0px 0px 30px #e22092;
}
	
/* Green */
.color-green.button {
	background-color: #91bd09;
}
.glow.color-green.button {
	box-shadow: 0px 0px 30px #91bd09;
	-moz-box-shadow: 0px 0px 30px #91bd09;
	-webkit-box-shadow: 0px 0px 30px #91bd09;
}
/* Red */ 
.color-red.button {
	background-color: #e62727;
}
.glow.color-red.button {
	box-shadow: 0px 0px 30px #e62727;
	-moz-box-shadow: 0px 0px 30px #e62727;
	-webkit-box-shadow: 0px 0px 30px #e62727;
}

/* Orange */
.color-orange.button {
	background-color: #ff5c00;
}
.glow.color-orange.button {
	box-shadow: 0px 0px 30px #ff5c00;
	-moz-box-shadow: 0px 0px 30px #ff5c00;
	-webkit-box-shadow: 0px 0px 30px #ff5c00;
}
	
/* Blue */
.color-blue.button { 
	background-color: #2981e4; 
}
.glow.color-blue.button {
	box-shadow: 0px 0px 30px #2981e4;
	-moz-box-shadow: 0px 0px 30px #2981e4;
	-webkit-box-shadow: 0px 0px 30px #2981e4;
}	

/* Yellow */
.color-yellow.button {
	background-color: #ffb515;
}
.glow.color-yellow.button {
	box-shadow: 0px 0px 30px #ffb515;
	-moz-box-shadow: 0px 0px 30px #ffb515;
	-webkit-box-shadow: 0px 0px 30px #ffb515;
}
	
/* Black */
.color-black.button {
	background-color: #000000;
}
.glow.color-black.button {
	box-shadow: 0px 0px 30px #000000;
	-moz-box-shadow: 0px 0px 30px #000000;
	-webkit-box-shadow: 0px 0px 30px #000000;
}
	
/* Gray */
.color-gray.button {
	background-color: #5D5D5D;
}
.glow.color-gray.button {
	box-shadow: 0px 0px 30px #5D5D5D;
	-moz-box-shadow: 0px 0px 30px #5D5D5D;
	-webkit-box-shadow: 0px 0px 30px #5D5D5D;
}

/* White */
.color-white.button {
	background-color: #FFFFFF;
	color:#D1D1D1;
}
.glow.color-white.button {
	box-shadow: 0px 0px 30px #FFFFFF;
	-moz-box-shadow: 0px 0px 30px #FFFFFF;
	-webkit-box-shadow: 0px 0px 30px #FFFFFF;
}
	
/* Purple */
.color-purple.button {
	background-color: #C0C;
}
.glow.color-purple.button {
	box-shadow: 0px 0px 30px #C0C;
	-moz-box-shadow: 0px 0px 30px #C0C;
	-webkit-box-shadow: 0px 0px 30px #C0C;
}
	
/* Brown */	
.color-brown.button {
	background-color: #630;
}
.glow.color-brown.button {
	box-shadow: 0px 0px 30px #630;
	-moz-box-shadow: 0px 0px 30px #630;
	-webkit-box-shadow: 0px 0px 30px #630;
}
	
/* Gold */	
.color-gold.button {
	background-color: #D4A017;
}
.glow.color-gold.button {
	box-shadow: 0px 0px 30px #D4A017;
	-moz-box-shadow: 0px 0px 30px #D4A017;
	-webkit-box-shadow: 0px 0px 30px #D4A017;
}
	
/* Cyan */	
.color-cyan.button {
	background-color: #00FFFF;
}
.glow.color-cyan.button {
	box-shadow: 0px 0px 30px #00FFFF;
	-moz-box-shadow: 0px 0px 30px #00FFFF;
	-webkit-box-shadow: 0px 0px 30px #00FFFF;
}
	
/* Lime */	
.color-lime.button {
	background-color: #00FF00;
}
.glow.color-lime.button {
	box-shadow: 0px 0px 30px #00FF00;
	-moz-box-shadow: 0px 0px 30px #00FF00;
	-webkit-box-shadow: 0px 0px 30px #00FF00;
}
	
/* Silver */	
.color-silver.button {
	background-color: #C0C0C0;
}
.glow.color-silver.button {
	box-shadow: 0px 0px 30px #C0C0C0;
	-moz-box-shadow: 0px 0px 30px #C0C0C0;
	-webkit-box-shadow: 0px 0px 30px #C0C0C0;
}
	
/* Maroon */	
.color-maroon.button {
	background-color: #800000;
}
.glow.color-maroon.button {
	box-shadow: 0px 0px 30px #800000;
	-moz-box-shadow: 0px 0px 30px #800000;
	-webkit-box-shadow: 0px 0px 30px #800000;
}

/* Olive */	
.color-olive.button {
	background-color: #808000;
}
.glow.color-olive.button {
	box-shadow: 0px 0px 30px #808000;
	-moz-box-shadow: 0px 0px 30px #808000;
	-webkit-box-shadow: 0px 0px 30px #808000;
}
/* End of Colors */

/* Textfield */
.textfield {
	color: black; 
	background-color: transparent;
	border:none;
	color: #FFF;
	font-size:18px;
	width:95%;
	font-family: Arial, Helvetica, sans-serif;	
	font-weight: bold; 
	line-height: 1; 
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	text-decoration: none;
	text-align:center;
	overflow:hidden;
	resize: none;
}

.textfield:focus {
	outline:0;
	outline:none;
}

.textfield:-moz-placeholder {
	color:#fff;
}

.textfield::-webkit-input-placeholder{
	color:#fff;
}

.textfield:-ms-input-placeholder{
	color:#fff;
}

.textfield-close {
	float: right;
	font-size: 20px;
	font-weight: bold;
	line-height: 18px;
	position: absolute;
	top:0px;
	z-index:99999; 
	right:5px;
	color: #000000;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.2;
	filter: alpha(opacity=20);
}
.textfield-close:hover {
	color: #000000;
	text-decoration: none;
	opacity: 0.4;
	filter: alpha(opacity=40);
	cursor: pointer;
}
/* End of Textfield */

/* No purpose styles */
.submit.button {
}
.single.button {
}
/* End Of No purpose styles */