html {
    height: 100%;
}
#toolbar {
	z-index: 99999999;
}
#home {
	padding-top: 45px !important;
}
body {
	height: 100%;
	min-height: 100%;
	overflow: auto;
    margin: 0;
    background-attachment: fixed;
	background: linear-gradient(top, #333, #5e5e65);
	background: -webkit-linear-gradient(top, #333, #5e5e65);
	background: -moz-linear-gradient(top, #333, #5e5e65);
	background: -o-linear-gradient(top, #333, #5e5e65);
	background: -ms-linear-gradient(top, #333, #5e5e65);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333), color-stop(100%,#5e5e65));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#5e5e65');
	background-repeat: no-repeat;
	background-color:#5e5e65;
	user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
	font-family: Arial, Helvetica, sans-serif;
}
#toolbarTitle {
	-moz-transition: -moz-transform 1s;
	transition: transform 1s;
	transition: -ms-transform 1s;
	transition: -o-transform 1s;
	-webkit-transition: -webkit-transform 1s;
}

.touchActive {
	background-image:none !important;
	background-color:#53b401 !important;
}

/*
DESKTOP HOVER
#jqt ul li:hover {
	background-image: 
		-webkit-gradient(linear, left top, left bottom, color-stop(0%,#5C5D5E), color-stop(100%,#404142)) !important;
}

#jqt ul li:active {
	background-image: 
		-webkit-gradient(linear, left top, left bottom, color-stop(0%,#3C3D3E), color-stop(100%,#303132)) !important;
} 

#jqt ul li.arrow:hover {
	background-image: 
		url("http://illution.dk/ClickThisPrototype/css/jqt/img/chevron.png"), 
		-webkit-gradient(linear, left top, left bottom, color-stop(0%,#5C5D5E), color-stop(100%,#404142)) !important;
}

#jqt ul li.arrow:active {
	background-image: 
		url("http://illution.dk/ClickThisPrototype/css/jqt/img/chevron.png"), 
		-webkit-gradient(linear, left top, left bottom, color-stop(0%,#3C3D3E), color-stop(100%,#303132)) !important;
} 
*/

h1 {
	color: #fff;
	text-decoration: none; 
	font-family: Arial, Helvetica, sans-serif;	
	font-weight: bold; 
	line-height: 1; 
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);	
	font-size: 24px;
	text-align:center;
}
#Page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px;	
}
#Publisher {
	position:absolute;
	width:auto;
	height:40px;
	left:0px;	
}
#MadeBy {
	width:auto;
	height:40px;
	right:0px;
	text-align:right;	
}
#Avatar{
	top:75px;
	width:256px;
	height:256px;
	left:30px;
	position:absolute;
	border:medium;
	border-style:groove;
	border-radius:2px;
	border-color:#FFF;	
}
#Profile{
	top:75px;
	width:400px;
	height:100px;
	left:330px;
	line-height:30px;
	position:absolute;
}
#Email{
	width:200px;
}
#Name{
	width:200px;	
}
#Location{
	width:205px;	
}

#Active{
	
}

.Disabled {
	display:none;
}

#Copyright {
	width:400px;
	height:20px;
	margin-left:auto;
	margin-right:auto;
}

#Header {
	width:100px;
	height:50px;
	line-height:560px;
	margin-left:auto;
	margin-right:auto;	
}
#infoButton {
	cursor:pointer;	
}
#backButton {
	cursor:pointer;	
}
#notification {
	width: 100%;
	height: 45px;
	display: block;
	background-color: #33B5E5;
	border-radius: 0 0 20px 20px;
	text-align: center;
	vertical-align: middle;
	line-height:43px;
	z-index:1;
	box-shadow: inset 0 0 5px #888;
	-webkit-box-shadow: inset 0 0 5px #888;
	-moz-box-shadow: inset 0 0 5px #888;
	font-family: "arial","sans-serif";
	font-weight:bolder;
	color:#FFF;
}

/* The right arrow */
.right{
	height:34px;
	width:35px;
	background: url("../images/Right.png") 0 0 no-repeat;
	position:fixed;
	top:50%;
	right:10px;
	z-index: 9999;
}

.right:hover{
	background-position: -36px 0;
}


.right:active{	
	background-position: -71px 0;	
}

/* The left arrow */
.left:hover{
	background-position: -36px 0;
}

.left:active{
	background-position: -71px 0;
}

.left{
	height:34px;
	width:35px;	
	background: url("../images/Left.png") 0 0 no-repeat;
	position:fixed;
	top:50%;
	left:10px;	
	z-index: 9999;
}