body {
	color: #ddd;
}
/*
#page h1, #page h2 {
	font: bold 18px "Helvetica Neue", Helvetica;
	text-shadow: rgba(255,255,255,.2) 0 1px 1px;
	color: #000;
	margin: 10px 20px 5px;
}
*/
/* @group Toolbar */
#page .toolbar {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px solid #000;
	padding: 10px;
	height: 45px;
	background: 
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAsCAIAAADTpb7BAAABJ0lEQVR42o2RsYqEMBRFXyFYWAgWKVI8SJEikCLFgIWFhf//T3vcSMhO3g4jlwOXA3oTpZT9Q0RDmOcZ2nqeF5Gbts45L8sCbX0cx3VdsJTXGOnKF1r1XgofncurT1taK7r0SSmxFNYqTO6z7/t5nrDWpu2I98oWaGscW6CtY4xsgSnnMfe565Uxdox0xdK8tI9zfppmWKvw0T5taa3vWlVx8NEhxj78eK4M1iohxA+RbXPTNEFbs5Mt0Nbee7ZADWEM506lFGhr1fB/Br1tG0uhrXEshbZ2zrEUPprFferFwVqFE3lVaEbW9d4Cbd222JoVOGjrEEJKCdq6K6b++6zryrdgre+6LX00k/q0O7/rqFW5sQgHbUWW3y2Qk4+RtsXWbYupfwDwhKfqS97nJAAAAABJRU5ErkJggg%3D%3D)
		#000000 repeat-x;
	position: fixed;
	top:0px;
	width: 100%;
	z-index: 999999;
}
#page .toolbar > h1 {
	position: absolute;
	overflow: hidden;
	left: 50%;
	top: 10px;
	line-height: 1em;
	margin: 1px 0 0 -75px;
	height: 40px;
	font-size: 20px;
	width: 150px;
	font-weight: bold;
	text-shadow: rgba(0,0,0,1) 0 -1px 1px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #fff;
}
#page .toolbar > .button, #page .back, #page .cancel, #page .add {
	position: absolute;
	overflow: hidden;
	top: 8px;
	right: 10px;
	margin: 0;
	border-width: 0 5px;
	padding: 0 3px;
	width: auto;
	height: 30px;
	line-height: 30px;
	font-family: inherit;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0;
	text-overflow: ellipsis;
	text-decoration: none;
	white-space: nowrap;
	background: none;
	border-image: url(../img/button.png) 0 5 0 5;
	-webkit-border-image: url(../img/button.png) 0 5 0 5;
	-moz-border-image: url(../img/button.png) 0 5 0 5;
	-o-border-image: url(../img/button.png) 0 5 0 5;
	-ms-border-image: url(../img/button.png) 0 5 0 5;
	-webkit-touch-callout:none;
}
#page .back {
	left: 6px;
	right: auto;
	padding: 0;
	max-width: 55px;
	border-width: 0 8px 0 14px;
	border-image: url(../img/back_button.png) 0 8 0 14;
	-webkit-border-image: url(../img/back_button.png) 0 8 0 14;
	-moz-border-image: url(../img/back_button.png) 0 8 0 14;
	-o-border-image: url(../img/back_button.png) 0 8 0 14;
	-ms-border-image: url(../img/back_button.png) 0 8 0 14;
}
/* @end */
/* @group Lists */
#page h1 + ul, #page h2 + ul, #page h3 + ul, #page h4 + ul, #page h5 + ul, #page h6 + ul {
	margin-top: 0;
}
#page ul {
	color: #aaa;
	border: 0px solid #000;
	font: bold 18px "Helvetica Neue", Helvetica;
	padding: 0;
	margin: 15px 10px 17px 10px;
}
#page ul.rounded {
	border-radius: 8px;
	/*box-shadow: rgba(0,0,0,.3) 1px 1px 3px;*/
}
#page ul.rounded li:first-child, #page ul.rounded li:first-child a {
	border-top: 0;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
#page ul.rounded li:last-child, #page ul.rounded li:last-child a {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
#page ul li {
	user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-webkit-touch-callout:none;
	color: #666;
	border-bottom: #555858;
	list-style-type: none;
	padding: 13px 10px 10px 10px;
	background-color: #17181a;
	border-width: 1px 0;
	border-style: solid;
	border-top-color: #222;
	border-bottom-color: #000;
	overflow: hidden;
}
#page ul li.arrow {
	background-image: url(../img/chevron.png), #1718a1;
	background-position: right center !important;
	background-repeat: no-repeat !important;
}

#page ul li.arrow a {
	user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-webkit-touch-callout:none;
	padding: 12px 22px 12px 10px;
}

#page ul li.forward {
	user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-webkit-touch-callout:none;
	background-image: url(../img/chevron_circle.png));
	background-position: right center;
	background-repeat: no-repeat;
}
/* universal links on list */
#page ul li a, #page li.img a + a {
	color: #fff;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	padding: 12px 10px 12px 10px;
	margin: -10px;
	text-shadow: rgba(0,0,0,.2) 0 1px 1px;
}
#page ul li a.active, #page ul li a.button {
	background-color: #53b401;
	color: #fff;
}
#page ul li a.active.loading {
	background-image: url(../img/loading.gif);
	background-position: 95% center;
	background-repeat: no-repeat;
}
#page ul li.arrow a.active {
	background-image: url(../img/chevron.png);
	background-position: right center;
	background-repeat: no-repeat;
}
#page ul li.forward a.active {
	background-image: url(../img/chevron_circle.png);
	background-position: right center;
	background-repeat: no-repeat;
}
#page ul li.img a + a {
	margin: -10px 10px -20px -5px;
	font-size: 17px;
	font-weight: bold;
}
#page ul li.img a + a + a {
	font-size: 14px;
	font-weight: normal;
	margin-left: -10px;
	margin-bottom: -10px;
	margin-top: 0;
}
#page ul li.img a + small + a {
	margin-left: -5px;
}
#page ul li.img a + small + a + a {
	margin-left: -10px;
	margin-top: -20px;
	margin-bottom: -10px;
	font-size: 14px;
	font-weight: normal;
}
#page ul li.img a + small + a + a + a {
	margin-left: 0px !important;
	margin-bottom: 0;
}
#page ul li a + a {
	color: #000;
	font: 14px "Helvetica Neue", Helvetica;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}
#page ul li a + a + a, #page ul li.img a + a + a + a, #page ul li.img a + small + a + a + a {
	color: #666;
	font: 13px "Helvetica Neue", Helvetica;
	margin: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	padding: 0;
}
/*
@end */
/* @group Mini Label */
#page ul li small {
	color: #64c114;
	font: 17px "Helvetica Neue", Helvetica;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	width: 23%;
	float: right;
	padding: 0;
}
#page ul li.arrow small {
	padding: 0 15px;
}
#page ul li small.counter {
	font-size: 17px;
	line-height: 13px;
	font-weight: bold;
	background: rgba(0,0,0,.15);
	color: #fff;
	border-radius: 11px;
	padding: 3px 10px 4px 10px;
	display: block;
	width: auto;
	margin-top: -22px;
	box-shadow: rgba(255,255,255,.1) 0 1px 0;
}
#page ul li.arrow small.counter {
	margin-right: 15px;
}
/* @end */
/* @group Individual */
#page ul.individual {
	border: 0;
	background: none;
	clear: both;
	overflow: hidden;
	padding-bottom: 3px;
	box-shadow: none;
}
#page ul.individual li {
	font-size: 14px;
	text-align: center;
	border-radius: 8px;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	width: 48%;
	float: left;
	display: block;
	padding: 11px 10px 14px 10px;
	box-shadow: rgba(0,0,0,.2) 1px 1px 3px;
}
#page ul.individual li + li {
	float: right;
}
#page ul.individual li a {
	color: #fff;
	line-height: 16px;
	margin: -11px -10px -14px -10px;
	padding: 11px 10px 14px 10px;
	border-radius: 8px;
}
/* @end */
/* @group Info */
#page .info {
	background: linear-gradient( 0% 0%, 0% 100%, from(#ccc), to(#aaa), color-stop(.6,#CCCCCC));
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	text-shadow: rgba(255,255,255,.8) 0 1px 0;
	color: #444;
	padding: 15px;
	border-top: 1px solid rgba(255,255,255,.2);
	font-weight: bold;
}
/* @end */
/* @group Edge to edge */
#page ul.edgetoedge {
	border-width: 1px 0;
	margin: 0;
	padding: 0;
}
#page ul.edgetoedge li {
	background: linear-gradient( 0% 0%, 0% 100%, from(#1e1f21), to(#272729));
	border-bottom: 2px solid #000;
	border-top: 1px solid #4a4b4d;
	font-size: 20px;
	margin-bottom: -1px;
}
#page ul.edgetoedge li.arrow {
	background-color: #404142 !important;
	background-image: url(../img/chevron.png), linear-gradient( 0% 0%, 0% 100%, from(#1e1f21), to(#272729));
	background-position: right center;
	background-repeat: no-repeat;
}
#page ul.edgetoedge li.sep {
	background: linear-gradient( 0% 0%, 0% 100%, from(rgba(0,0,0,0)), to(rgba(0,0,0,.5)));
	border-bottom: 1px solid #111113;
	border-top: 1px solid #666;
	color: #3e9ac3;
	font-size: 16px;
	margin: 1px 0 0 0;
	padding: 2px 10px;
	text-shadow: #000 0 1px 0;
}
#page ul.edgetoedge li em {
	font-weight: normal;
	font-style: normal;
}
/* @end */
/* @group Plastic */
#page #plastic {
	background: #17181a;
}
#page ul.plastic {
	background: #17181a;
	color: #aaa;
	font: bold 18px "Helvetica Neue", Helvetica;
	margin: 0;
	padding: 0;
	border-width: 0 0 1px 0;
}
#page ul.plastic li {
	border-width: 1px 0;
	border-style: solid;
	border-top-color: #222;
	border-bottom-color: #000;
	color: #666;
	list-style-type: none;
	overflow: hidden;
	padding: 10px 10px 10px 10px;
}
#page ul.plastic li a.active.loading {
	background-image: url(../img/loading.gif);
	background-position: 95% center;
	background-repeat: no-repeat;
}
#page ul.plastic li small {
	color: #888;
	font-size: 13px;
	font-weight: bold;
	line-height: 24px;
	text-transform: uppercase;
}
#page ul.plastic li:nth-child(odd) {
	background-color: #1c1c1f;
}
#page ul.plastic li.arrow {
	background-image: url(../img/chevron.png);
	background-position: right center;
	background-repeat: no-repeat;
}
#page ul.plastic li.arrow a.active {
	background-image: url(../img/chevron.png);
	background-position: right center;
	background-repeat: no-repeat;
}
#page ul.plastic li.forward {
	background-image: url(../img/chevron_circle.png);
	background-position: right center;
	background-repeat: no-repeat;
}
#page ul.plastic li.forward a.active {
	background-image: url(../img/chevron_circle.png);
	background-position: right center;
	background-repeat: no-repeat;
}
/* @end */
