@charset "utf-8";
/* CSS Document */

/* Phones */
#phone-container{
	display: none;
}

/* Apple Iphone */
.iphone{
	width:255px;
	height:500px;
	top:5px;
	left:565px;
	position: absolute;
	z-index: 999;
}

.iphone-browser{
	height:312px;
	width:215px;
	position: absolute;
	top:102px;
	left:21px;
	overflow:hidden;
}

/* Apple Ipad */
.ipad{
	width:546px;
	height:700px;
	top:5px;
	left:0px;
	position: absolute;
	z-index: 999;
}

.ipad-browser{
	width:421px;
	height:552px;
	position: absolute;
	top:80px;
	left:63px;
	overflow:hidden;
}

/* Google/Samsung Galaxy Nexus */
.nexus{
	width:255px;
	height:500px;
	top:5px;
	left:820px;
	position: absolute;
	z-index: 999;
}

.nexus-browser{
	height:340px;
	width:215px;
	position: absolute;
	top:79px;
	left:20px;
	overflow:hidden;
}

/* Motorola Xoom */
.motorola{
	width:539px;
	height:800px;
	top:5px;
	left:1080px;
	position: absolute;
	z-index: 999;
}

.motorola-browser{
	width:391px;
	height:670px;
	top:50px;
	left:100px;
	position: absolute;
	z-index: 999;
	overflow:hidden;
}

/* Preview */

.preview{
	list-style-type:none;
	width:100%;
	border:0px;
	height:100%;
}

.preview li{
	float: left;
    width:64px;
    height:22px;
}

.iframe{
  	zoom: 0.69;
    -moz-transform: scale(0.69, 0.69); 
    -webkit-transform: scale(0.69, 0.69); 
    -o-transform: scale(0.69, 0.69);
    -ms-transform: scale(0.69, 0.69);
    transform: scale(0.69, 0.69); 
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}

/* Other */
.sortable-grid{
    width:100%; 
    position: relative;
    height:100%;
    left:-18px;
}

html, body {
	height: 95%;
	width:95%;	
}

/* Select Element */
#select-container{
	width:25%;
	border:0px;
	height:70%;
	background-color: #DDD;
}