/* The right arrow */
.right{
	height:34px;
	width:35px;
	background: url("images/Right.png") 0 0 no-repeat;
	position:absolute;
	top:45%;
	right:-20px;
	z-index: 9999;
}

.right-disabled{
	height:34px;
	width:35px;
	background: url("images/Right.png") 0 0 no-repeat;
	background-position:-176px 0;
	position:absolute;
	top:45%;
	right:-20px;
	z-index: 9999;
}

.right:hover{
	background-position: -36px 0;
}


.right:active{	background-position: -71px 0;	
}

.provider{
	cursor: pointer;
}
.providerLink{}

/* The left arrow */
.left:hover{
	background-position: -36px 0;
}

.left-disabled{
	height:34px;
	width:35px;	
	background: url("images/Left.png") 0 0 no-repeat;
	background-position:-174px 0;
	position:absolute;
	top:45%;
	left:-15px;	
	z-index: 9999;
}

.left:active{
	background-position: -71px 0;
}

.left{
	height:34px;
	width:35px;	
	background: url("images/Left.png") 0 0 no-repeat;
	position:absolute;
	top:45%;
	left:-15px;	
	z-index: 9999;
}

/* The upper arrow */
#up{
	height:34px;
	width:35px;		
	left:45%;
	top:-22px;
	background: url("images/Up.png") 0 0 no-repeat;
	position:absolute;
}
@font-face {  
  font-family: Colveti;  
  src:url(fonts/COOLVETI.TTF)
}

.Button{
	text-align:center;
	color:#666;
	font-family:"Colveti";
	position:absolute;
	height:32px;
	width:64px;
	background: url("images/Button.png") 0 0 no-repeat;
}

#up:hover{
	background-position: -36px 0;
}

/* The arrow down */
#down{
	height:34px;
	width:35px;		
	left:45%;
	background: url("images/Down.png") 0 0 no-repeat;
	position:absolute;
	bottom:-15px;
}

#down:hover{
	background-position: -36px 0;
}

/* The gradient box */
#box {
	width:430px;
	height:300px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-140px 0 0 -215px;
	
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	
	-webkit-user-select:none;
	
	background: #c4c4c4; /* Old browsers */
	background: -moz-linear-gradient(top, #c4c4c4 1%, #989898 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#c4c4c4), color-stop(100%,#989898)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c4c4c4 1%,#989898 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c4c4c4 1%,#989898 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #c4c4c4 1%,#989898 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c4c4', endColorstr='#989898',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #c4c4c4 1%,#989898 100%); /* W3C */
}

/* The html body style the makes the background */
body {
	/*background: url(images/Back.png) repeat;*/
	background-color: #131313;
  background-size: 20px 20px;
  background:
      -webkit-radial-gradient(black 15%, transparent 16%) 0 0,
      -webkit-radial-gradient(black 15%, transparent 16%) 8px 8px,
      -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
      -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background:
      -moz-radial-gradient(black 15%, transparent 16%) 0 0,
      -moz-radial-gradient(black 15%, transparent 16%) 8px 8px,
      -moz-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
      -moz-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background:
      -o-radial-gradient(black 15%, transparent 16%) 0 0,
      -o-radial-gradient(black 15%, transparent 16%) 8px 8px,
      -o-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
      -o-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;

  /*-webkit-font-smoothing: antialiased;*/
	width:100%; 
	height:100%;
}
/* Page Changer Disabled */
.Disabled{
	display:none;	
}
/* Page Active */
.Active{
	
}

/* Editt */
#edit-bar{}
#edit-box{
	padding:10px;
}

#edit {
	transition: transform 1s ease-in-out;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.edit:hover{
	background-position:-35px 0;
}

.edit:active{
	background-position:-70px 0;
}

.edit-mode:hover{
	background-position:-35px 0;
}

.edit-mode:active{
	background-position:-70px 0;
}

.edit-mode{
	width:34px;
	height:35px;
	position:absolute;
	top:-15px;	
	right:-15px;
	background: url("images/circle.png") 0 0 no-repeat;
	background-position:-70px 0;
	z-index:99;
	-webkit-transform: rotate(360deg);
}

.edit{
	width:34px;
	height:35px;
	position:absolute;
	top:-15px;	
	right:-15px;
	z-index:99;
	background: url("images/circle.png") 0 0 no-repeat;
}

#button{
	width:64px;
	height:32px;
	position:absolute;
	text-align:center;
	background: url("images/Button.png") 0 0 no-repeat;
}

#position-container{
	float: left; 
	position: relative; 
	bottom:0px;
	left:50%;
}

#position{
	float: left; 
	position: relative; 
	left: -50%;
}

.navigation{}

#position em {
	display:inline-block;
	padding:0 3px;
	width:22;
	height:22px;
	font-style:normal;
	text-shadow: 0 -1px 0 rgba(0,0,0,.35);
	font-family:sans-serif;
	font-size:22px;
}

#position em.on {
	color:#fff;
}

ul{
    list-style-type:none;
}
ul li{
    float: left;
    width:128px;
    height:128px;
}
.sortable-grid{
    width:100%; 
    position: relative;
    height:100%;
    left:-18px;
}

/* Page Types */
.user{ }
.page{ }
.default{ }
.edit{ }

/* Page States */
.disabled{
	display: none;
}
#menuBar > * {
	width:34px;
	height:35px;
	margin: -2px 0 0 -2px;
	float: left;
}
.testCircle {
	background: url("images/circle.png") 0 0 no-repeat;
}
/* Menu Bar */

#menuBar {
	/* Position and size */
	width:30px;
	height:31px;
	position:absolute;
	top:-15px;	
	right:-13px;
	margin: 2px 2px 2px 2px;

	z-index:1;

	/* Roundedness */
	border-radius: 34px;
	background-color:#ededed;
	/* Background gradient */
	background-image: -webkit-linear-gradient(bottom, rgb(229,229,229) 0%, rgb(246,246,246) 50%);

	/* Border */
	-webkit-box-shadow: 0 0 1px 1px rgba(174,174,174,0.7);
}

#blur {
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0;
    filter: alpha(opacity = 70); /* required for opacity to work in IE */
}

/* Menu Bar Tools */
#menuBar-add-page{
	width:35px;
	height:34px;
	top:-2.5px;
	margin: 2px 2px 2px 2px;
	right:68px;
	position:absolute;	
	background: url("images/Page.png") 0 0 no-repeat;
}

#menuBar-add-page:hover{
	background-position:-35px 0;	
}

#menuBar-add-page:active{
	background-position:-70px 0;
}

#menuBar-add-element{
	width:35px;
	height:34px;
	top:-2.5px;
	margin: 2px 2px 2px 2px;
	right:30px;
	position:absolute;	
	/*right:-15px;*/
	background: url("images/Provider.png") 0 0 no-repeat;
}
#menuBar-add-element:hover{
	background-position:-35px 0;
}
#menuBar-add-element:active{
	background-position:-70px 0;
}
#searchProviders{
	/* Position and size */
	width:390px;
	height:262px;
	top:15px;
	position:absolute;
	right:15px;
	margin: 2px 2px 2px 2px;
	z-index:1;

	opacity: 0;
	filter: alpha(opacity=100);

	/* Roundedness */
	border-radius: 15px;
	background-color:#ededed;
	/* Background gradient */
	background-image: -webkit-linear-gradient(bottom, rgb(229,229,229) 0%, rgb(246,246,246) 50%);

	/* Border */
	-webkit-box-shadow: 0 0 1px 1px rgba(174,174,174,0.7);

	display: none;
}

#menuBar-remove-element{}
#menuBar-remove-page{}

/* Tooltip */
.tooltip{
	width: 100px;
	height: auto;
	line-height: 20px;
	left: 50%;
	margin-left: -50px;
	font-family: 'Arial', Georgia, serif;
	font-weight: 400;	
	font-size: 14px;
	color: #000;
	text-align: center;
	background: rgba(255,255,255,0.8);
	text-indent: 0px;
	border-radius: 5px;
	position: absolute;
	opacity: 0;
	z-index:999999999;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.tooltip{
	cursor: pointer;
}

.tooltip:after{
	margin-left: -10px;
	border-top: 10px solid #fff;
}
.page li a:hover .tooltip{
	opacity: 100;
	bottom:64px;
}

.page li a{
	width: 128px;
	height: 128px;
	position: relative;
}

/* Message Box */
#message-container{
	top:-40px;
	width:99%;
	display: none;
	position: absolute;
	height:40px;
	z-index:9999;
}

#message-header{
	text-align:center;
	font-size:30px;
	background-color: #666;
	opacity: 0.7;
	filter: alpha(opacity=70);
	border-bottom-right-radius:20px;
	border-bottom-left-radius:20px;
}

#message{
    margin-top: 20px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    font-family: "Arial";
    line-height: 0px;
    text-align: center;
}